[default]
REDDIT_CLIENT_ID = "YOUR_REDACTED_VALUE"
REDDIT_CLIENT_SECRET = "YOUR_REDACTED_VALUE"
REDDIT_USER_AGENT = "YOUR_REDACTED_VALUE"

TWITTER_API_KEY = "YOUR_REDACTED_VALUE"
TWITTER_API_SECRET = "YOUR_REDACTED_VALUE"
TWITTER_BEARER_TOKEN = "YOUR_REDACTED_VALUE"
TWITTER_ACCESS_TOKEN = "YOUR_REDACTED_VALUE"
TWITTER_ACCESS_TOKEN_SECRETE = "YOUR_REDACTED_VALUE"

YOUTUBE_API_KEY="AIzaSyABdKB4G_g9tHbZGIXSeU35zs3agkghlhA"